.btn-stonex {
  padding: 0 16px;
}

.section-header {
  background-color: var(--blue-secondary);
}

.border-stonex {
  border-color: var(--blue-primary) !important;
}

.table-button {
  width: 38px;
  height: 38px;
  border: none;
}

.btn-outline-danger {
  color: var(--danger-color)!important;
}

.btn-outline-danger:hover {
  color: white!important;
}

.line-gray {
  background-color: lightgray;
}